/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
/* line 3, Header.scss */
:root {
  --brand-color: #61dafb;
}

/* line 7, Header.scss */
header {
  height: 80px;
  padding: 20px;
}

/* line 12, Header.scss */
.Header {
  background: #373277;
  color: #fff;
}

/* line 17, Header.scss */
.Header-container {
  margin: 0 auto;
  padding: 20px 0;
}

/* line 22, Header.scss */
.Header-brand {
  color: white;
  text-decoration: none;
  font-size: 1.75em;
  /* ~28px */
}

/* line 28, Header.scss */
.Header-brandTxt {
  margin-left: 10px;
}

/* line 32, Header.scss */
.Header-nav {
  float: right;
  margin-top: 6px;
}

/* line 37, Header.scss */
.Header-banner {
  text-align: center;
}

/* line 41, Header.scss */
.Header-bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

/* line 49, Header.scss */
.Header-bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}
