/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
/* line 4, Footer.scss */
.Footer {
  background: #333;
  color: #fff;
}

/* line 9, Footer.scss */
.Footer-container {
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
}

/* line 15, Footer.scss */
.Footer-text {
  color: rgba(255, 255, 255, 0.5);
}

/* line 19, Footer.scss */
.Footer-text--muted {
  color: rgba(255, 255, 255, 0.3);
}

/* line 23, Footer.scss */
.Footer-spacer {
  color: rgba(255, 255, 255, 0.3);
}

/* line 27, Footer.scss */
.Footer-text,
.Footer-link {
  padding: 2px 5px;
  font-size: 1em;
}

/* line 33, Footer.scss */
.Footer-link,
.Footer-link:active,
.Footer-link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* line 40, Footer.scss */
.Footer-link:hover {
  color: white;
}
