/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
/* line 3, Navigation.scss */
.Navigation-link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em;
  /* ~18px */
}

/* line 10, Navigation.scss */
.Navigation-link,
.Navigation-link:active,
.Navigation-link:visited {
  color: rgba(255, 255, 255, 0.6);
}

/* line 16, Navigation.scss */
.Navigation-link:hover {
  color: white;
}

/* line 20, Navigation.scss */
.Navigation-link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

/* line 28, Navigation.scss */
.Navigation-link--highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* line 32, Navigation.scss */
.Navigation-spacer {
  color: rgba(255, 255, 255, 0.3);
}
