/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
/* line 3, Feedback.scss */
.Feedback {
  background: #f5f5f5;
  color: #333;
}

/* line 8, Feedback.scss */
.Feedback-container {
  margin: 0 auto;
  padding: 20px 8px;
  text-align: center;
  font-size: 1.5em;
  /* ~24px */
}

/* line 15, Feedback.scss */
.Feedback-link,
.Feedback-link:active,
.Feedback-link:hover,
.Feedback-link:visited {
  color: #333;
  text-decoration: none;
}

/* line 23, Feedback.scss */
.Feedback-link:hover {
  text-decoration: underline;
}

/* line 27, Feedback.scss */
.Feedback-spacer {
  padding-right: 15px;
  padding-left: 15px;
}
