/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

.Feedback {
  background: #f5f5f5;
  color: #333;
}

.Feedback-container {
  margin: 0 auto;
  padding: 20px 8px;
  text-align: center;
  font-size: 1.5em; /* ~24px */
}

.Feedback-link,
.Feedback-link:active,
.Feedback-link:hover,
.Feedback-link:visited {
  color: #333;
  text-decoration: none;
}

.Feedback-link:hover {
  text-decoration: underline;
}

.Feedback-spacer {
  padding-right: 15px;
  padding-left: 15px;
}
